@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 51.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 263.4 70% 50.4%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    /* like text-blue-500 */
    --link: 217.22, 91.22%, 59.8%;
    --radius: 0.75rem;
  }
}

@layer components {
}

.customShadow {
  box-shadow: 0 0 4rem hsl(var(--secondary));
}