@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root,
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 51.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 263.4 70% 50.4%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.75rem;
  }
}


@layer components {
  .style-for-timeline-dot-leg::after {
    content: ' ';
    /* background-color: hsl(var(--secondary)); */
    background-color: hsl(240 10% 3.9%);
    width: 0.3rem;
    right: 50%;
    height: 5.1rem;
    /* This will stretch the pseudo-element to the full height of the parent */
    position: absolute;
    bottom: -4.9rem;
    /* Aligns the bottom of the pseudo-element with the bottom of the parent */
    z-index: -1;
    transform: translateX(50%);
  }
}
